<footer class="l-footer">
  <div class="l-container  l-jLine--simple">

    <div class="l-footer__left">
      <!--copyright-->
      <small class="copyright">© Академический правовой институт</small>
      <!--contacts-->
      <address class="contacts--footer">
        <h1><b>Контактная информация:</b></h1>
        <dl class="dl-inline">
          <dt><b>Тел.:</b></dt>
          <dd>(495) 691-8825 (495) 691-6052</dd>
          <dt><b>Адрес:</b></dt>
          <dd>г. Москва, ул. Знаменка, 10</dd>
        </dl>
      </address>
      <!--mail us-->
      <a href="#" class="mailUs">Обратная связь</a>

    </div>

    <nav class="l-footer__right  footerNav">
      <!--nav section-->
      <section class="footerNav__section">
        <header>
          <h1 class="ui-section__title">Об институте</h1>
        </header>
        <ul>
          <li><a href="#">История</a></li>
          <li><a href="#">Преподаватели</a></li>
          <li><a href="#">Памяти А.Г.Быкова</a></li>
          <li><a href="#">Учебники</a></li>
          <li><a href="#">Журналы</a></li>
          <li><a href="#">Диссертации</a></li>
        </ul>
      </section>
      <!--nav section-->
      <section class="footerNav__section">
        <header>
          <h1 class="ui-section__title">Филиалы</h1>
        </header>
        <ul>
          <li><a href="#">Мероприятия</a></li>
          <li><a href="#">Журналы</a></li>
          <li><a href="#">НСО</a></li>
          <li><a href="#">Сайт</a></li>
        </ul>
      </section>
      <!--nav section-->
      <section class="footerNav__section">
        <header>
          <h1 class="ui-section__title">Образование</h1>
        </header>
        <ul>
          <li><a href="#">Студентам</a></li>
          <li><a href="#">Аспирантура и соискательство</a></li>
          <li><a href="#">Магистратура</a></li>
          <li><a href="#">Дополнительное образование</a></li>
          <li><a href="#">НОЦ</a></li>
        </ul>
      </section>
      <!--nav section-->
      <section class="footerNav__section">
        <header>
          <h1 class="ui-section__title">Студентам</h1>
        </header>
        <ul>
          <li><a href="#">Общая информация</a></li>
          <li><a href="#">Совет выпускников</a></li>
          <li><a href="#">Проекты</a></li>
          <li><a href="#">Fundraising</a></li>
        </ul>
      </section>
      <!--nav section-->
      <section class="footerNav__section">
        <header>
          <h1 class="ui-section__title">Наука</h1>
        </header>
        <ul>
          <li><a href="#">История</a></li>
          <li><a href="#">Преподаватели</a></li>
          <li><a href="#">Памяти А.Г.Быкова</a></li>
          <li><a href="#">Учебники</a></li>
          <li><a href="#">Журналы</a></li>
        </ul>
      </section>

    </nav>
  </div>
</footer>