<header class="l-header">

  <div class="l-header__top">
    <!--lang switch-->
    <div class="langSwitch">
      <a href="#" class="is-active">Ru</a>
      <a href="#">En</a>
      <a href="#">De</a>
    </div>
    <!--search-->
    <form class="search">
      <input class="search__field" type="search" placeholder="Поиск по сайту"/>
      <button class="search__submit" type="submit">Отправить</button>
    </form>
  </div>

  <!--navigation-->
  <nav class="nav" role="navigation">
    <a href="#" class="nav__link is-active">Главная</a>
    <a href="#" class="nav__link">Об институте</a>
    <a href="#" class="nav__link">Филиалы</a>
    <a href="#" class="nav__link">Образование</a>
    <a href="#" class="nav__link">Студентам</a>
    <a href="#" class="nav__link">Наука</a>
  </nav>
</header>