<aside class="l-sidebar" itemscope itemtype="http://schema.org/CollegeOrUniversity">

  <!--logo-->
  <a class="logo" href="/" itemprop='url'>
    <img src="assets/img/logo.png" alt="" itemprop='logo' itemscope itemtype='http://schema.org/ImageObject'>
    <span class="logo__hidden" itemprop="name">Академический правовой институт</span>
  </a>

  <!--contacts-->
  <address class="ui-section  contacts">
    <dl itemprop="telephone">
      <dt class="contacts__caption">Начальник учебного отдела:</dt>
      <dd class="contacts__telephone">+7 (495) <b>691-8825</b></dd>
      <dt class="contacts__caption">Учебная часть:</dt>
      <dd class="contacts__telephone">+7 (495) <b>691-6052</b></dd>
    </dl>
    <a href="#">Контактная информация</a>
  </address>

  <!--news-->
  <section class="news ui-section">
    <header>
      <h1 class="ui-section__title">Новости</h1>
    </header>
    <article class="news__article">
      <header>
        <time class="news__article__pubdate" datetime="2013-09-03">3 Окт. 2013</time>
        <h1 class="news__article__title"><a href="#">Награды студентов АПИ</a></h1>
        <p>Целью создания АПИ было обеспечение тесной связи фундаментальной юридической науки ...</p>
      </header>
    </article>
    <article class="news__article">
      <header>
        <time class="news__article__pubdate" datetime="2013-09-03">3 Окт. 2013</time>
        <h1 class="news__article__title"><a href="#">Награды студентов АПИ</a></h1>
        <p>Целью создания АПИ было обеспечение тесной связи фундаментальной юридической науки ...</p>
      </header>
    </article>
    <article class="news__article">
      <header>
        <time class="news__article__pubdate" datetime="2013-09-03">3 Окт. 2013</time>
        <h1 class="news__article__title"><a href="#">Награды студентов АПИ</a></h1>
        <p>Целью создания АПИ было обеспечение тесной связи фундаментальной юридической науки ...</p>
      </header>
    </article>
    <footer>
      <a class="ui-button" href="#">Все новости</a>
    </footer>
  </section>

  <!--calendar-->
  <section class="ui-section">
    <header>
      <h1 class="ui-section__title">Календарь событий</h1>
    </header>
  </section>

  <!--past events-->
  <section class="ui-section pastEvents">
    <header>
      <h1 class="ui-section__title">Прошедшие события</h1>
    </header>
    <article class="pastEvents__unit">
      <time>3 Окт. 2013</time>
      <a class="pastEvents__unit__title" href="#">Заседание кафедры 30 мая</a>
    </article>
    <article class="pastEvents__unit">
      <time>3 Окт. 2013</time>
      <a class="pastEvents__unit__title" href="#">Заседание кафедры 30 мая</a>
    </article>
    <article class="pastEvents__unit">
      <time>3 Окт. 2013</time>
      <a class="pastEvents__unit__title" href="#">Лекция федеральных судей США по банкротству</a>
    </article>
    <footer>
      <a href="#" class="ui-button">Все события</a>
    </footer>
  </section>
</aside>