<!--crumbs-->
<nav class="crumbs">
  <a class="crumbs__link" href="#">Главная</a>
  <a class="crumbs__link" href="#">Второй уровень</a>
  <a class="crumbs__link" href="#">Третий уровень</a>
</nav>

<!--article-->
<article class="template-article">
  <header class="template-article__header">
    <h1 class="ui-section__title">Нобелевской премией по физике отметили первооткрывателей бозона Хиггса</h1>
    <time class="template-article__pubdate">08.10.2013 <span>16:55</span></time>
  </header>
  <div class="wysiwyg">
    <p>С более чем получасовым отставанием от графика Нобелевский комитет всё же объявил лауреатов премии Альфреда Нобеля по физике 2013 года. Эксперты Каролинского института в Стокгольме (Karolinska Institutet) отметили работы Франсуа Энглера из Cвободного университета Бельгии и Питера Хигсса из университета Эдинбурга, которые теоретически обосновали, как все известные субатомные частицы "обретают массу".</p>
    <p>Официальная формулировка комитета: за "теоретическое открытие механизма, который помог нам понять происхождение массы субатомных частиц и недавно был подтверждён в ходе открытия предсказанной фундаментальной частицы экспериментами ATLAS и CMS на Большом адронном коллайдере в ЦЕРНе".</p>
    <p>
      <img class="template-article__image--left" src="http://fakeimg.pl/460x335/?text=Hello">
      То, что награда в этом году уйдёт именно первооткрывателям бозона Хиггса, почти никто не сомневался. Но Нобелевские комитеты до последнего момента ничего не сообщают ни о самих претендентах на награду, ни о тех, кто их выдвинул, поэтому экспертам остается только гадать на этот счёт. Отметим, что того же результата научное сообщество и обычные люди ожидали и в прошлом году, но тогда обнаружение новой фундаментальной частицы было ещё совсем сырым и требовало дополнительных доказательств.
      Напомним, что в 1964 году Хиггс и Энглер независимо друг от друга создали свои теории (Энглер со своим коллегой Робертом Браутом, которого ныне уже нет в живых). В 2012 году их идеи были подтверждены открытием бозона Хиггса в ЦЕРНе (мы подробно писали о первоначальном открытии и официальном объявлении команды Большого адронного коллайдера).
      Теоретические выкладки нынешних лауреатов премии стали важной составляющей Стандартной модели (СМ), описывающей с физической точки зрения строение всего нашего мира. Согласно этой теории, всё, что существует на планете Земля и за её пределами, а также сами люди состоят из "кирпичиков", частиц материи. Клетки состоят из молекул, молекулы − из атомов, атомы − из электронов, а также протонов, нейтронов, последние – из кварков. Согласно СМ, электроны и кварки являются более неделимыми элементарными ("самыми простыми") частицами. Именно из них и состоят все частицы вещества.
      Всеми этими частицами управляют частицы-переносчики четырёх видов взаимодействий, отвечающие за возникновение разнообразных сил (бозоны).
    </p>
    <p>
      <img class="template-article__image--right" src="http://fakeimg.pl/460x335/?text=Hello">
      То, что награда в этом году уйдёт именно первооткрывателям бозона Хиггса, почти никто не сомневался. Но Нобелевские комитеты до последнего момента ничего не сообщают ни о самих претендентах на награду, ни о тех, кто их выдвинул, поэтому экспертам остается только гадать на этот счёт. Отметим, что того же результата научное сообщество и обычные люди ожидали и в прошлом году, но тогда обнаружение новой фундаментальной частицы было ещё совсем сырым и требовало дополнительных доказательств.
      Напомним, что в 1964 году Хиггс и Энглер независимо друг от друга создали свои теории (Энглер со своим коллегой Робертом Браутом, которого ныне уже нет в живых). В 2012 году их идеи были подтверждены открытием бозона Хиггса в ЦЕРНе (мы подробно писали о первоначальном открытии и официальном объявлении команды Большого адронного коллайдера).
      Теоретические выкладки нынешних лауреатов премии стали важной составляющей Стандартной модели (СМ), описывающей с физической точки зрения строение всего нашего мира. Согласно этой теории, всё, что существует на планете Земля и за её пределами, а также сами люди состоят из "кирпичиков", частиц материи. Клетки состоят из молекул, молекулы − из атомов, атомы − из электронов, а также протонов, нейтронов, последние – из кварков. Согласно СМ, электроны и кварки являются более неделимыми элементарными ("самыми простыми") частицами. Именно из них и состоят все частицы вещества.
      Всеми этими частицами управляют частицы-переносчики четырёх видов взаимодействий, отвечающие за возникновение разнообразных сил (бозоны).
    </p>
  </div>
  <footer class="template-article__footer">
    <a class="ui-button--back" href="#">Вернуться к списку новостей</a>
  </footer>
</article>

<!--pagination-->
<nav class="pagination">
  <a href="#">← Предыдущая</a>
  <ul class="pagination__list">
    <li><a href="#" class="is-active">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">6</a></li>
  </ul>
  <a href="#">Следующая →</a>
</nav>