<div class="template-main">
  <header>
    <h1 class="ui-section__title">Академический правовой институт</h1>
  </header>
  <div class="l-jLine--simple">
    <!--main column-->
    <div class="template-main__column-1">
      <div class="wysiwyg">
        <p><img src="http://fakeimg.pl/475x205/?text=Image"></p>
        <p><b>Академический правовой институт</b> (АПИ) учрежден в 1993 г. на базе <a href="#">Института государства и права Российской академии наук</a> и является одним из ведущих юридических вузов России.</p>
        <p>Название Академический правовой институт - это отнюдь не стремление украсить себя привлекательным именем, это отражение нашего подхода к обучению, это характеристика профессоров института, процесса обучения и всей той атмосферы, которая в институте утвердилась.</p>
        <p>Целью создания АПИ было обеспечение тесной связи фундаментальной юридической науки с практикой подготовки высококвалифицированных специалистов – юристов, способных работать с учетом современных требований в различных сферах государственной, научной, предпринимательской и иной деятельности.</p>
        <p>Академический правовой институт ориентирован на подготовку квалифицированных специалистов высокого класса для работы в центральном, региональном и муниципальном аппаратах представительной и исполнительной власти, судах общей юрисдикции и арбитражных судах, адвокатуре, нотариате, в правоохранительных органах, в общественных организациях и политических партиях, в банках, страховых компаниях, различных корпорациях, представительствах иностранных фирм в России и российских фирмах за рубежом.</p>
        <p><a class="ui-button" href="#">Подробнее</a></p>
      </div>
      <!--insitute affiliates-->
      <section class="affiliates">
        <header>
          <h1 class="ui-section__title">Филиалы института</h1>
        </header>
        <article class="affiliates__unit">
          <aside><img class="affiliates__unit__photo" src="http://fakeimg.pl/475x205/?text=Image"></aside>
          <header>
            <h1 class="affiliates__unit__title"><a href="#">Филиал в г. Анапа</a></h1>
          </header>
          <p>Целью создания АПИ было обеспечение тесной связи фундаментальной юридической науки ...</p>
        </article>
        <article class="affiliates__unit">
          <aside><img class="affiliates__unit__photo" src="http://fakeimg.pl/475x205/?text=Image"></aside>
          <header>
            <h1 class="affiliates__unit__title"><a href="#">Филиал в Рязани</a></h1>
          </header>
          <p>Целью создания АПИ было обеспечение тесной связи фундаментальной юридической науки ...</p>
        </article>
        <article class="affiliates__unit">
          <aside><img class="affiliates__unit__photo" src="http://fakeimg.pl/475x205/?text=Image"></aside>
          <header>
            <h1 class="affiliates__unit__title"><a href="#">Филиал в Тамбове</a></h1>
          </header>
          <p>Целью создания АПИ было обеспечение тесной связи фундаментальной юридической науки ...</p>
        </article>
        <footer>
          <a class="ui-button" href="#">Подробнее</a>
        </footer>
      </section>
    </div>
    <!--sidebar-->
    <aside class="template-main__column-2">

      <!--mail subscribe form-->
      <form class="ui-section  subscribe">
        <header>
          <h1 class="subscribe__title">Подпишитесь на рассылку самых последних новостей!</h1>
        </header>
        <input class="subscribe__input" type="email" required  placeholder="Ваш e-mail"/>
        <input class="subscribe__input" type="text" required  placeholder="Ваше имя"/>
        <button type="submit" class="ui-button">Подписаться</button>
      </form>

      <!--useful links-->
      <section class="ui-section">
        <header>
          <h1 class="ui-section__title">Полезные ссылки</h1>
        </header>
        <ul>
          <li class="ui-section__unit"><a href="#">Лекции по корпоративному праву профессора Кембриджского университета Саймона Дикина</a></li>
          <li class="ui-section__unit"><a href="#">Брифинг в Росимуществе</a></li>
          <li class="ui-section__unit"><a href="#">Лекции по корпоративному праву профессора Кембриджского университета Саймона Дикина</a></li>
          <li class="ui-section__unit"><a href="#">Брифинг в Росимуществе</a></li>
        </ul>
      </section>

      <!--social-->
      <section class="ui-section  social">
        <header>
          <h1 class="social__title">Мы в соцсетях</h1>
        </header>
        <ul class="social__list">
          <li><a class="social__unit--twitter" href="#" title="Twitter">Twitter</a></li>
          <li><a class="social__unit--facebook" href="#" title="Facebook">Facebook</a></li>
          <li><a class="social__unit--youtube" href="#" title="YouTube">YouTube</a></li>
          <li><a class="social__unit--vimeo" href="#" title="Vimeo">Vimeo</a></li>
        </ul>
      </section>

      <!--photo gallery-->
      <section class="ui-section photoGallery">
        <header>
          <h1 class="ui-section__title">Фотогалерея</h1>
        </header>
        <figure class="photoGallery__unit">
          <img src="http://fakeimg.pl/350x200/?text=Img">
          <figcaption class="photoGallery__unit__title"><a href="#">Визит профессора Кембриджского университета – Саймона Дикина</a></figcaption>
        </figure>
        <footer>
          <a class="ui-button" href="#">Все фото</a>
        </footer>
      </section>
    </aside>
  </div>
</div>