<!--crumbs-->
<nav class="crumbs">
  <a class="crumbs__link" href="#">Главная</a>
  <a class="crumbs__link" href="#">Второй уровень</a>
  <a class="crumbs__link" href="#">Третий уровень</a>
</nav>

<!--news-->
<section class="template-news">
  <header>
    <h1 class="ui-section__title">Новости (статьи, публикации, события)</h1>
  </header>

  <!--news article-->
  <article class="news__article">
    <header>
      <time class="news__article__pubdate" datetime="2013-09-03">3 Окт. 2013</time>
      <h1 class="news__article__title"><a href="#">Награды студентов АПИ</a></h1>
      <p>Открытие бозона Хиггса почти окончательно убедило научное сообщество в том, что СМ верна. Но, несмотря на всю важность СМ, она не решает все существующие вопросы физики (об этом Энглер упомянул в своём телефонном интервью участникам церемонии объявления).</p>
    </header>
  </article>

  <!--news article-->
  <article class="news__article">
    <header>
      <time class="news__article__pubdate" datetime="2013-09-03">3 Окт. 2013</time>
      <h1 class="news__article__title"><a href="#">Награды студентов АПИ</a></h1>
      <p>Открытие бозона Хиггса почти окончательно убедило научное сообщество в том, что СМ верна. Но, несмотря на всю важность СМ, она не решает все существующие вопросы физики (об этом Энглер упомянул в своём телефонном интервью участникам церемонии объявления).</p>
    </header>
  </article>

  <!--news article-->
  <article class="news__article">
    <header>
      <time class="news__article__pubdate" datetime="2013-09-03">3 Окт. 2013</time>
      <h1 class="news__article__title"><a href="#">Награды студентов АПИ</a></h1>
      <p>Открытие бозона Хиггса почти окончательно убедило научное сообщество в том, что СМ верна. Но, несмотря на всю важность СМ, она не решает все существующие вопросы физики (об этом Энглер упомянул в своём телефонном интервью участникам церемонии объявления).</p>
    </header>
  </article>

  <!--news article-->
  <article class="news__article">
    <header>
      <time class="news__article__pubdate" datetime="2013-09-03">3 Окт. 2013</time>
      <h1 class="news__article__title"><a href="#">Награды студентов АПИ</a></h1>
      <p>Открытие бозона Хиггса почти окончательно убедило научное сообщество в том, что СМ верна. Но, несмотря на всю важность СМ, она не решает все существующие вопросы физики (об этом Энглер упомянул в своём телефонном интервью участникам церемонии объявления).</p>
    </header>
  </article>

  <!--news article-->
  <article class="news__article">
    <header>
      <time class="news__article__pubdate" datetime="2013-09-03">3 Окт. 2013</time>
      <h1 class="news__article__title"><a href="#">Награды студентов АПИ</a></h1>
      <p>Открытие бозона Хиггса почти окончательно убедило научное сообщество в том, что СМ верна. Но, несмотря на всю важность СМ, она не решает все существующие вопросы физики (об этом Энглер упомянул в своём телефонном интервью участникам церемонии объявления).</p>
    </header>
  </article>

  <!--news article-->
  <article class="news__article">
    <header>
      <time class="news__article__pubdate" datetime="2013-09-03">3 Окт. 2013</time>
      <h1 class="news__article__title"><a href="#">Награды студентов АПИ</a></h1>
      <p>Открытие бозона Хиггса почти окончательно убедило научное сообщество в том, что СМ верна. Но, несмотря на всю важность СМ, она не решает все существующие вопросы физики (об этом Энглер упомянул в своём телефонном интервью участникам церемонии объявления).</p>
    </header>
  </article>

</section>

<!--pagination-->
<nav class="pagination">
  <a href="#">← Предыдущая</a>
  <ul class="pagination__list">
    <li><a href="#" class="is-active">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">6</a></li>
  </ul>
  <a href="#">Следующая →</a>
</nav>