<!--crumbs-->
<nav class="crumbs">
  <a class="crumbs__link" href="#">Главная</a>
  <a class="crumbs__link" href="#">Второй уровень</a>
  <a class="crumbs__link" href="#">Третий уровень</a>
</nav>

<!--publications-->
<section class="template-publications">
  <header>
    <h1 class="ui-section__title">Публикации</h1>
  </header>

  <!--publication preview-->
  <article class="publications__article">
    <div class="publications__article__photo"><img src="http://fakeimg.pl/140x210/?text=Book"></div>
    <div>
      <h1 class="publications__article__title"><a href="#">Нерсесянц В.С. Философия права. - 2-е изд. , переработанное и дополненное. - М.: НОРМА, 2006. - 848 с.</a></h1>
      <p>Настоящий учебник программой по административному праву Российской Федерации на основе новейших законодательных актов РФ и субъектов Федерации. Авторы учебника - ведущие научные сотрудники Института государства и права РАН, преподаватели Академического правового института. Для студентов, аспирантов и преподавателей юридических учебных заведений, а также для всех интересующихся современными проблемами административного права.</p>
    </div>
  </article>
  <!--publication preview-->
  <article class="publications__article">
    <div class="publications__article__photo"><img src="http://fakeimg.pl/140x210/?text=Book"></div>
    <div>
      <h1 class="publications__article__title"><a href="#">Нерсесянц В.С. Философия права. - 2-е изд. , переработанное и дополненное. - М.: НОРМА, 2006. - 848 с.</a></h1>
      <p>Настоящий учебник программой по административному праву Российской Федерации на основе новейших законодательных актов РФ и субъектов Федерации. Авторы учебника - ведущие научные сотрудники Института государства и права РАН, преподаватели Академического правового института. Для студентов, аспирантов и преподавателей юридических учебных заведений, а также для всех интересующихся современными проблемами административного права.</p>
    </div>
  </article>
  <!--publication preview-->
  <article class="publications__article">
    <div class="publications__article__photo"><img src="http://fakeimg.pl/140x210/?text=Book"></div>
    <div>
      <h1 class="publications__article__title"><a href="#">Нерсесянц В.С. Философия права. - 2-е изд. , переработанное и дополненное. - М.: НОРМА, 2006. - 848 с.</a></h1>
      <p>Настоящий учебник программой по административному праву Российской Федерации на основе новейших законодательных актов РФ и субъектов Федерации. Авторы учебника - ведущие научные сотрудники Института государства и права РАН, преподаватели Академического правового института. Для студентов, аспирантов и преподавателей юридических учебных заведений, а также для всех интересующихся современными проблемами административного права.</p>
    </div>
  </article>
  <!--publication preview-->
  <article class="publications__article">
    <div class="publications__article__photo"><img src="http://fakeimg.pl/140x210/?text=Book"></div>
    <div>
      <h1 class="publications__article__title"><a href="#">Нерсесянц В.С. Философия права. - 2-е изд. , переработанное и дополненное. - М.: НОРМА, 2006. - 848 с.</a></h1>
      <p>Настоящий учебник программой по административному праву Российской Федерации на основе новейших законодательных актов РФ и субъектов Федерации. Авторы учебника - ведущие научные сотрудники Института государства и права РАН, преподаватели Академического правового института. Для студентов, аспирантов и преподавателей юридических учебных заведений, а также для всех интересующихся современными проблемами административного права.</p>
    </div>
  </article>

</section>

<!--pagination-->
<nav class="pagination">
  <a href="#">← Предыдущая</a>
  <ul class="pagination__list">
    <li><a href="#" class="is-active">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">6</a></li>
  </ul>
  <a href="#">Следующая →</a>
</nav>