/*===============================================================
Imports & includes
===============================================================*/
@import "compass/layout/sticky-footer";
@include sticky-footer($footerHeight, ".stickyFooter_helper-1", ".stickyFooter_helper-2", ".l-footer");

/*===============================================================
Fonts
===============================================================*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,cyrillic);


/*===============================================================
Inputs
===============================================================*/
@each $type in text, password, datetime, datetime-local, date, month, time, week, number, email, url, search, tel{
  textarea, input[type="#{$type}"]{
    border: 1px solid #999;
    padding: 0 10px;
    height: $inputHeight;
  }
}
textarea {
  padding: 10px;
  height: auto;
  overflow: auto;
  vertical-align: top;
}
button{
  border:none;
  background-color: transparent;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer;
}

/*===============================================================
Typography
===============================================================*/
a{
  @include link-colors($linkColor, $hoverLinkColor, $activeLinkColor, $visitedLinkColor, $focusedLinkColor);
  &:focus {outline: thin dotted;}
  &:active,&:hover {outline: none;}
  //text-decoration: underline;
  text-decoration: none;
  &:hover,&:focus{text-decoration: underline;}
}
.wysiwyg{
  p{margin-bottom: $paragraphSpace;}
  ul{
    list-style-type: disc;
    margin-bottom:$paragraphSpace;
    padding-left: $paragraphSpace;
    //li{
    //  position: relative;
    //  &:before{
    //    content: '-';
    //    position: absolute;
    //    right:100%;
    //  }
    //}
  }
  ol{
    margin-bottom:$paragraphSpace;
    padding-left: $paragraphSpace;
    list-style-type: decimal;
  }
  h1 {@extend .ui-section__title;}
  h2 {font-size: 1.7em;}
  h3 {font-size: 1em;}
  h4 {font-size: 0.9em;}
  h5 {font-size: 0.8em;}
  h6 {font-size: 0.7em;}
}